# HW : 서울 소재 10개 대학의 좌표를 출력해 보시오

In [ ]:
서울대 37.460031, 126.951911
한양대 37.566461, 127.044850
성균관대 37.588457, 126.993595
서강대 37.551225, 126.941013
연세대 37.565997, 126.938175
고려대 37.591046, 127.027885
중앙대 37.505318, 126.957112
이화여대 37.560003, 126.945469
경희대 37.596391, 127.052587
숙명대 37.546560, 126.964831

In [1]:
import folium
map_1 = folium.Map(location = [37.565711, 126.97809], zoom_start = 10) # 중심점
#                   titles = 'Stamen Terrain')
folium.Marker([37.460031, 126.951911], popup = '서울대').add_to(map_1)
folium.Marker([37.546560, 126.964831], popup = '숙명대').add_to(map_1)
folium.Marker([37.596391, 127.052587], popup = '경희대').add_to(map_1)
folium.Marker([37.560003, 126.945469], popup = '이화여대').add_to(map_1)
folium.Marker([37.505318, 126.957112], popup = '중앙대').add_to(map_1)
folium.Marker([37.591046, 127.027885], popup = '고려대').add_to(map_1)
folium.Marker([37.565997, 126.938175], popup = '연세대').add_to(map_1)
folium.Marker([37.551225, 126.941013], popup = '서강대').add_to(map_1)
folium.Marker([37.588457, 126.993595], popup = '성균관대').add_to(map_1)
folium.Marker([37.566461, 127.044850], popup = '한양대').add_to(map_1)
#folium.Marker([37.565711, 126.97809], popup = '서울시청및', icon = folium.Icon(icon = 'cloud')).add_to(map_1)
map_1

In [ ]:
# 문제 다음 데이터를 데이터프레임에 저장하시요
#         지역  2018     2017 2016 2015 2015-2018 증가율
# 서울 수도권  9904312 9631482 9762546 9853972    0.0283
# 부산 경상권  3448737 3393191 3512547 3655437    0.0163
# 인천 수도권  2890451 2632035 2517680 2466338    0.0982
# 대구 경상권  2466052 2431774 2456016 2473990    0.0141 


#columns = ['지역', '2018', '2017','2016','2015','2015-2018 증가율']
#index = ['서울', '부산', '인천', '대구']

# 문제

In [3]:
import pandas as pd
data = {'지역':['수도권', '경상권','수도권','경상권'], '2018':[9904312 , 3448737, 2890451, 2466052], 
        '2017': [9631482, 3393191, 2632035, 2431774], '2016':[9762546, 3512547, 2517680, 2456016], 
        '2015':[9853972, 3655437, 2466338, 2473990,], '2015-2018 증가율': [0.0283, 0.0163, 0.0982, 0.0141]}
df = pd.DataFrame(data, columns =['지역', '2018', '2017','2016','2015','2015-2018 증가율'], 
                  index = ['서울', '부산', '인천', '대구'] )
df

     지역     2018     2017     2016     2015  2015-2018 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [4]:
# 문제 : '2015-2018 증가율' 을 %로 변경하시오
df['2015-2018 증가율'] = df['2015-2018 증가율'] * 100
df

     지역     2018     2017     2016     2015  2015-2018 증가율
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [5]:
# 문제 : 2015 - 2017의 증가율을 구해서 변수를 추가하시오
# (열이름 : "2015 - 2018 증가율")
df['2015-2017 증가율'] = (df['2017']- df['2015']) / df['2015']
df

     지역     2018     2017     2016     2015  2015-2018 증가율  2015-2017 증가율
서울  수도권  9904312  9631482  9762546  9853972           2.83      -0.022579
부산  경상권  3448737  3393191  3512547  3655437           1.63      -0.071741
인천  수도권  2890451  2632035  2517680  2466338           9.82       0.067183
대구  경상권  2466052  2431774  2456016  2473990           1.41      -0.017064