In [ ]:
# 2020.01.09

In [ ]:
# python : 문자열 처리
- 검색, 분리(split), 추출, 대체, 결합, 공백처리
- 문자열의 기본자료구조는 배열 
1,2 4바이트 :

In [ ]:
# 정규표현식(regular expression) : re => 똑같은 방식으로 처리
- 패턴으로 처리

In [3]:
smiles = "C(=N)(N)N,C(=0)(0)0"   # 1차원
print(smiles[0])
print(smiles[1])
print(smiles[-1])
print(smiles[1:5])
print(smiles[10:-4])

C
(
0
(=N)
C(=0)

In [22]:
s = "That that is is that that is"   # 문자열에서 대소문자 구분
print(s.count("t"))
s = s.lower()   # 소문자로 바꿔줌
print(s.count("that"))
print(s)
s.find("that")# 단어별 찾기

7
4
that that is is that that is

0

In [ ]:
다시보기

In [7]:
# ASCII code 95 = a
print('C:\\nowhere')
print(r'C:\\nowhere')  # 정규표현식  #3버전은 기본적으로 유니코드
print(u'Hello, world')

C:\nowhere
C:\\nowhere
Hello, world

In [11]:
# pandas도 문자열 함수 지원
import pandas as pd
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [13]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [15]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [18]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [19]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [20]:
# 정규표현식
# [] : 선택 + 여러개
# 추출
monte.str.extract('([A-Za-z]+)', expand = False )

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [24]:
# ^: 처음부터 , [^] : 부정
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [25]:
import re
text = "문의사항이 있으면 '032-232-3245' 으로 연락주시기 바랍니다."

# \d : 숫자한개
# {}는 개수
# 패턴을 컴파일
regex = re.compile(r'\d\d\d-\d\d\d\d-\d\d\d\d')
regex = re.compile(r'(\d{3})-(\d{3}-\d{4})')  # 하나의 단위로 {}
matchobj = regex.search(text)
phonenumber = matchobj.group()  # 여러개가 나오는 상황
print(phonenumber)

032-232-3245

In [ ]:
??

In [37]:
import numpy as np
s4 = pd.Series(['A','B','C','Aaba','Baca', np.nan, 'CABA','dog','cat'])
s4.str.contains('A', na = False)

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
dtype: bool

In [28]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

import re

data={'Dave':'iadslba@naver.com', 'Steve':'steve@gmail.com', 'Rob':'rob', 'Wes':np.nan}
data=Series(data)
print(data)

Dave     iadslba@naver.com
Steve      steve@gmail.com
Rob                    rob
Wes                    NaN
dtype: object

In [32]:
print(data.isnull())
print()
print('네이버', data.str.contains('naver'))

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

네이버 Dave      True
Steve    False
Rob      False
Wes        NaN
dtype: object

In [ ]:
마저쓰기

In [35]:
# r : regular expression 으로 분석
# 정규표현식에서이 .은 한개 
pattern = r'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]'
matches = data.str.match(pattern, flags = re.IGNORECASE)
print('match 결과: ', matches)

mat

match 결과:  Dave      True
Steve     True
Rob      False
Wes        NaN
dtype: object

In [40]:
# one-hot-encoding  (회귀분석에서는 이걸 반드시 해줘야한다)
s = pd.Series(['a','alb', np.nan, 'alc'])
# 행은 관측 숫자, 열은 변수
print(s)
s.str.get_dummies(sep='l')

0      a
1    alb
2    NaN
3    alc
dtype: object

   a  b  c
0  1  0  0
1  1  1  0
2  0  0  0
3  1  0  1

In [44]:
# 함수를 매개변수로 전달할 때는 함수 실행이 아니고 함수 위치를 전달하는 것
df = pd.DataFrame(['한글', '미국','일본'], columns = ['text'])
# 파생변수(mutate)
df['text_length'] = df['text'].map(len)  # 시리즈에 함수적용
print(df)

  text  text_length
0   한글            2
1   미국            2
2   일본            2

In [ ]:
# 다시보기

In [46]:
data = {'name':['하늘이','찬호박', '우리야', '함께가','하성공'], 'age':[40,50,30,20,70], 'preScore':[14,28,39,25,32],
       'postScore':[20,90,55,65,79]}
df = pd.DataFrame(data,columns = ['name','age','preScore','postScore'])
df

print(df['age'])

  name  age  preScore  postScore
0  하늘이   40        14         20
1  찬호박   50        28         90
2  우리야   30        39         55
3  함께가   20        25         65
4  하성공   70        32         79

In [47]:
df = pd.DataFrame({'two' : pd.Series(np.random.randn(3),   index=['c', 'b', 'a']),
                   'one' : pd.Series(np.random.randn(4),   index=['d', 'b', 'c', 'a']),
                   'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
print(df)
row = df.iloc[1]
print(row)
column = df['two']
print(column)

        two       one     three
a  0.462980 -0.013610       NaN
b  0.210407  1.012052  0.763313
c -1.945657 -1.427210 -1.329497
d       NaN -0.738180  0.286078
two      0.210407
one      1.012052
three    0.763313
Name: b, dtype: float64
a    0.462980
b    0.210407
c   -1.945657
d         NaN
Name: two, dtype: float64